#footer{
    background: #1e1e1e;
    height: 220px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px;
}

#foot1{
    width: 45%;
    font-size: 14px;
    line-height: 1.6;
    color: #dcdcdc;
}


#foot2{
    width: 45%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 15px;
}
 
#footer-links{
    display: flex;
    gap: 25px;
}

#footer-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
} 

#copyright{
    font-size: 14px;
    color: #dcdcdc;
    text-align: center;
}

